:host {
  display: block;
  margin: 32px auto auto auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding: 16px 54px;
  background-color: #fff;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;

  transition: 0.2s ease-in;
}

:host:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ccc;
}
