.header {
  position: sticky;
  top: 0;
  z-index: 100;

  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px #000;

  padding: 15px 15px;

  width: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1410px;
  margin: 0 auto;
}

.logo-link {
  color: #000;
  font-family: var(--third-family);
  font-weight: 800;
  font-size: 32px;
}

.navigation-lists {
  display: flex;
  align-items: center;
  gap: 24px;
}

.navigation-link {
  display: block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;

  transition: 0.2s ease-in;
}
.navigation-link:hover {
  color: rgba(0, 0, 0, 0.56);
  transform: translateY(-3px);
}

.search {
  width: 577px;
}

.search-input {
  font-family: var(--font-family);
  border-radius: 62px;
  padding: 12px 16px;
  width: 100%;
  height: 48px;
  background: #f0f0f0;
}
.search-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
}

.buttons {
  display: flex;
  gap: 14px;
  align-items: center;
}

//for adaptive

.adaptive-section {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger-nav {
  display: none;
}
