.brands {
  overflow: hidden;
  padding: 42px 0;
  background: #000;
}

.brands-container {
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 15px;
}

.brands-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: scroll-left 20s linear infinite;
}

.brand-img {
  width: 156px;
  height: 33px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

// for adaptive

.brands-lists--row-2 {
  display: none !important;
}
