<div class="newsletter">
  <h2 class="newsletter-title">STAY UPTO DATE ABOUT OUR LATEST OFFERS</h2>
  <form  [formGroup]="from" (ngSubmit)="onSubmit()" class="newsletter-form">
    <input
      formControlName="email"
      name="email"
      class="newsletter-input"
      type="email"
      placeholder="Enter your email address"
    />
    <button class="newsletter-btn">Subscribe to Newsletter</button>
  </form>
</div>

@if (isAlert()) {
  <app-alert (closed)="isAlert.set(false)" [alertText]="alertText()" />
}
